.card {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid white;
}

.replycard {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid black;
    margin-left: 5em;
}

.column1 {
    width: 200px;
    text-align: start;
}

.column2 {
    text-align: end;
}

.column {
    color: white;
    text-align: start;
    width: 600px;
}

@media screen and (max-width: 480px) {
    .column1 {
        width: 20vw;
        text-align: start;
    }

    .column {
        color: white;
        text-align: start;
        width: 50vw;
    }
}

.small {
    color: black;
    font-size: small;
    text-align: start;
}

.reply {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.buttons {
    margin-bottom: 1em;
}

.inputs {
    width: 20em;
}