.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0;
}

.logo {
  height: 1em;
  margin-right: 10px;
  margin-left: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.next {
  margin-top: 1em;
}
