html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(black, #343a40);
  color: white;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.25rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
  color: black;
}

.project {
  height: 100vh;
  width: 110vh;
  border-radius: 1em;
  border: none;
}

.resume {
  height: 102vh;
  width: 75vh;
  border: none;
}

#site-link {
  margin-bottom: 2em;
}

.pagination {
  text-align: center;
  margin-bottom: 2em;
}

.dataContainer {
  text-align: center;

}

h2 {
  text-align: center;
  width: 100%;
}

.project-name {
  text-align: center;
  width: 100%;
}

.container {
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  margin: 1em;
  padding: 1em;
  flex-wrap: nowrap;
  align-items: center;
}

.about-img {
  text-align: end;
  margin-left: auto;
  margin-right: 2em;
  width: 25%;
}

.about {
  margin-right: auto;
  text-align: start;
  width: 25%;
}

.stack {
  display: inline-block;
  margin-right: 1em;
}

b {
  color: #61dafb;
}

.contact {
  text-align: center;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #61dafb;
}

.nav-tabs {
  background-color: white;
  display: flex;
  color: #E2E8F0;
  border-bottom: 1px solid black;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: black;
  background-color: #1b8600;
  border-color: transparent;
  border-bottom-color: black;
}

.tab-pane {
  padding: 1em;
}

.content {
  background-color: silver;
  padding-left: 0em;
  padding-right: 0em;
  height: 100%;
}

.tab-content {
  padding: 2em;
  height: 100%;
  border: 1px solid black;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-image: linear-gradient(to bottom right, gray, black);
  box-shadow: 6px 5px 0.5em black;
}

.info {
  margin-bottom: 1em;
}

.container-react {
  width: 250px;
  height: 250px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-logo {
  display: inline-block;
  border-radius: 50%;

  border: 10px solid #00d8ff;

  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.react-logo,
.react-logo:before,
.react-logo:after {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #00d8ff;
}

.nucleo,
.react-logo,
.react-logo:before,
.react-logo:after {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nucleo {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #00d8ff;
}

.react-logo:before,
.react-logo:after {
  content: "";
}

.react-logo:after {
  transform: rotate(-57deg);
}

.react-logo:before {
  transform: rotate(57deg);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}